<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- user css -->
     <link rel="stylesheet" href="{{url_for('static',filename='app.css')}}" >
    <!-- bootstrap css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <title>StudentSuccessPredictor</title>
</head>
<body>
    <!-- nav -->
     <nav class="navbar bg-body-secondary fixed-top" style="background-color: #187bc2;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Student performance Predictor</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">About</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="https://studentsuccesspredictor.onrender.com">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://Avanish-rai-jarh.github.io/CurrencyConvertor/">Currency Converter</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://github.com/Avanish-rai-jarh">Github account</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<div class="main-container">
  <form>
  <div class="i1">
    <p>Daily study hours</p>
    <input class="input1" type="number" placeholder="Enter" value="5">
  </div>

  <div class="i1">
    <p>Attendance rate in percentage</p>
    <input class="input2" type="number" placeholder="Enter" value="85">
  </div>

  <div class="i1">
    <p>Assignment completion rate in percentage</p>
    <input class="input3" type="number" placeholder="Enter" value="70">
  </div>

  <div class="i1">
    <p>Earlier exam score out of 100</p>
    <input class="input4" type="number" placeholder="Enter" value="90">
  </div>

  <div class="i1">
    <p>Daily sleep hours</p>
    <input class="input5" type="number" placeholder="Enter" value="8">
  </div>

  <div class="b1">
    <button type="button" class="btn btn-primary btn-lg">Predict</button>
  </div>

  <div class="output">

  </div>

</form>
</div>

<!-- confusion matrix of model  -->
 <h3 class="matric"></h3>
 <div class="box">
<div class="confusion">
 </div>
 </div>

</body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>

    <script src="{{url_for('static',filename='app.js')}}"></script>
</html>